body {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/fondo2.jpg);
  background-size: 100% 100%;

}

/* link styles */
a:link {
  color: #C00;
}
a:visited {
  color: #000000;
}
a:focus {
  color: #921A66;
}
a:hover {
  color: #921A66;
}
a:active {
  color:#F00;
}

a{
  text-decoration: none;
  border-bottom: dotted 1px;
  padding-top: 0.1em;
  font-family: 'McLaren', cursive;
 
}

/* styles for the intro section */
#intro {
  text-align: center;
 
}
p{
  font-family: 'McLaren', cursive;
}
#intro h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #f26521;
  
}
#intro p {
  font-family: 'McLaren', cursive;
  font-style: italic;
  color: rebeccapurple;
}

/* styles for navigation */
#nav {
  background-color: #000000;
  opacity: 0.89;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
#nav ul li {
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  
}
#nav ul a:link {
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
#nav ul a:visited {
  color: #fff;
}
#nav ul a:focus {
  color:#FC6
}
#nav ul a:hover {
  color: #fc6;
}
#nav ul a:active {
  color:#F00;
}
#nav li a:hover {/* Change the link color to #111 (black) on hover */
  background-color: #f26721;/*#111;*/
}
  
/* styles for the products section */
#products {
  background-color: #FFF;
  line-height: 1.5em;
  padding: 1em;
  border: solid #FFBC53;
  opacity: 0.82;
}
#products h2 {
  font-size: 1.2em;
  color: #ac267b;
  text-align: center;
  text-transform: uppercase;
  font-family: 'McLaren', cursive;
}
#products h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  border-top: solid 1px;
  border-left: solid 3px;
  padding: 1em;
}

/* styles for the testimonials box */
#testimonials {
  background: rgb(210, 102, 236) ;
  font-size: .875em;
  line-height: 1.5;
  color: #633;
  padding-left: 4.4375em;
  border-radius: 25px;
  padding: 3em;
  opacity: 0.82;
}
  
#testimonials h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  letter-spacing: 3px;
}

/* miscellaneous styles */
em { 
  color: #F26521;
}
p#copyright {
  color:#663333; 
  font-size: .8em;
  text-align: center;
}

p#Sub{
  border: solid white 1px;
  background: white;
  opacity: 0.70;
}